<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ5csFunvQZqaR_ZWvhdTFVK5fsscKcKc</string>
	<key>GCM_SENDER_ID</key>
	<string>994002598878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parkjeongseop.tallycounter</string>
	<key>PROJECT_ID</key>
	<string>physicaltallycounter</string>
	<key>STORAGE_BUCKET</key>
	<string>physicaltallycounter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994002598878:ios:337fa42c6c1eee0d5cbb4f</string>
</dict>
</plist>